<h1>Add List</h1>
<%= form_with (model: @list, local: true) do |f| %>
  <div class='field'>
    <%= f.label :task %>
    <%= f.text_field :task, required: true, placeholder: "Write Task Here" %>
  </div>
<% end %>

